/* mandatory section  */

 :root {
    /* Colors */
    --bg-light: #f0f2f5;
    --bg-dark: #18191a;
    --highlight-gray: #e4e6e8;
    --white-primary: #fff;
    --dark-primary: #333;
    --dark-gray: #65676b;
    --less-dark-gray: #606770;
    --gray-border: #ced0d4;
    --primary-color: #426bb1;
    --less-primary-color: #d7e4f2;
    --blue-primary: #0d6efd;
    --green-primary: #198754;
    --danger-primary: #dc3545;
    --first-color: #1A73E8;
    --input-color: #80868B;
    --border-color: #DADCE0;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
}


/* font  link*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body {
    background-color: var( --bg-light);
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    /* font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
}


/* privacy fullpages */

.main {
    display: grid;
    grid-template-columns: [first] 26% [line2] auto [end];
}


/* privacy side bar  */

.privacyfullpage {
    background: var(--border-color);
    height: 100%;
    /* position: fixed; */
    /* width: 26%; */
}

.privacy-sidebar {
    padding: 2rem;
    position: fixed;
}

.privacy-sidebar a {
    text-decoration: none;
    color: black;
    padding: 5px;
    line-height: 2rem !important;
}

.privacy-sidebar a:hover {
    color: black;
}

.privacy-sidebar p:hover {
    border: 1px solid;
}

.privacy-list {
    /* margin: 5px; */
    border: 1px solid var(--border-color);
}

.privacy-list:hover {
    background-color: var(--highlight-gray);
    border: 1px solid var(--gray-border);
    color: #18191a;
}

.privacy-sidebar p:hover {
    border: 1px solid var(--gray-border);
    background-color: var(--white-primary);
}


/* information middle section  */

.middle-information {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.tools-heading {
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%), 0 0px 4px 0 rgb(0 0 0 / 19%);
    border-radius: 3px;
    margin-bottom: 1rem;
}

.information-section {
    margin-top: 2rem;
}

.security-tools {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.tools-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}


/* privacy card  */

.privacy-card {
    padding: 15px;
}

.privacy-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.privacy-item {
    display: flex;
    align-items: center;
    gap: .4rem;
    margin-top: 9px;
    padding: 5px 5px;
    border-bottom: 1px solid var(--border-color);
    border: 1px solid var(--white-primary);
}

.privacy-item:hover {
    border: 1px solid var(--gray-border);
    background-color: var(--highlight-gray);
}

.privacy-item p {
    margin-bottom: 0 !important;
}

.privacy-list1 a {
    text-decoration: none;
    color: #18191a;
}

.privacy-list1 a:hover {
    text-decoration: none;
    color: #18191a;
}

.privacy-icon {
    min-width: 1.3rem;
    min-height: 1.3rem;
}

.privacy-image img {
    /* width: 392px; */
    height: 190px;
    object-fit: cover;
}


/* middle mobile view nav bar  */

.Watch-mobile-bar {
    display: flex;
    column-gap: 2rem;
    margin-bottom: 2rem;
    /* overflow-x: auto; */
}

.mobile-bar-Watch-pages {
    display: flex;
    align-items: center;
    column-gap: .3rem;
    margin-top: 1rem;
    border: 1px solid darkgray;
    padding: 5px;
    border-radius: 30px;
    width: 143px;
    /* transition: ease-out 0.3s; */
    background: linear-gradient(to left, #fff 50%, #65a2df 50%) right;
    background-size: 200%;
    transition: all 0.3s ease-in-out;
}

.mobile-bar-Watch-pages:hover {
    background-position: left;
}

.mobile-bar-Watch-pages:hover strong {
    color: #fff;
}


/* media query for resposive */

@media screen and (min-width:992px) {
    .Watch-mobile-bar {
        display: none;
        column-gap: 2rem;
        margin-bottom: 2rem;
        /* overflow-x: auto; */
    }
}

@media screen and (max-width: 991px) {
    .main {
        display: grid;
        grid-template-columns: [first] 0% [line2] auto [end];
    }
    .privacyfullpage {
        background: var(--border-color);
        /* height: 100%; */
        /* position: fixed; */
        /* width: 26%; */
        display: none;
        visibility: hidden;
    }
    .middle-information {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}